/* Import Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Import AdminLTE styles */
@import "admin-lte/dist/css/adminlte.min.css";

/* Import Bootstrap Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";

.custom-switch .form-check-input {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-switch .form-check-input:checked {
    background-color: #4caf50;
}

.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.75rem;
    line-height: 0.9;
    border-radius: 0.2rem;
}

/* Sidebar chính */
.app-sidebar,
.main-sidebar {
    width: 210px !important; /* giảm từ 250px xuống 210px */
}

/* Wrapper bên trong */
.app-sidebar .sidebar-wrapper,
.main-sidebar .sidebar-wrapper {
    width: 210px !important;
}

/* Nội dung chính dịch sang phải đúng bằng sidebar */
.content-wrapper,
.main-header {
    margin-left: 210px !important;
}

:root,
[data-bs-theme="light"] {
    --lte-sidebar-width: 210px; /* giảm từ 250px xuống 210px */
}

.nav-treeview .nav-link {
    padding: 4px 12px; /* giảm padding */
    font-size: 0.975rem; /* ~14px, nhỏ hơn mặc định */
}
.nav-treeview .nav-icon {
    font-size: 0.75rem; /* icon nhỏ hơn */
}
