.title-head {
	font-weight: 500 !important;
}
.aside-filter ul {
	padding-left: 0;
	list-style: none;
	margin: 0px;
}
.aside-item {
	padding-top: 15px;
}
aside.aside-item + .aside-item {
	margin-top: 15px;
}
.aside-title a:hover {
	color: var(--primary-color);
}
.aside-content {
	position: relative;
	clear: left;
	font-size: 14px;
	padding: 0;
}
.aside-content:last-child {
	border-bottom: none;
}
.aside-content .nav-item {
	position: relative;
}
.aside-content .nav-item > a {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.3;
	padding: 5px 30px 2px 0px;
}
.aside-content .nav-item > a:hover {
	color: var(--primary-color);
}
.aside-content .dropdown-menu a {
	font-weight: 400;
}
.aside-content .fa {
	cursor: pointer;
	display: inline;
	position: absolute;
	right: 5px;
	top: 10px;
	z-index: 1;
	width: 30px;
	text-align: center;
	font-size: 14px;
}
.aside-content .active > .dropdown-menu {
	display: block;
}
.aside-content .dropdown-menu {
	width: 100%;
	border: 0;
	padding: 0px;
	padding-left: 15px;
	box-shadow: none;
	margin-top: 0px;
	position: static;
	background: none;
}
.aside-content:hover > a {
	color: #333;
	background-color: transparent;
}
.aside-content ul > li:before {
	top: 17px;
	left: 15px;
}
.blogwp h3, .blogwp h3 a.link {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3;
}
@media (max-width: 991px) {
	.sidebar {
		order: 1;
		border-top: 10px solid #f4f4f4;
 }
}
.sidebar {
	border-left: 1px solid #eee;
	padding-bottom: 1.25rem;
	padding-left: 15px;
}
.content-blog .blogwp + .blogwp {
	border-top: 1px solid #eee !important;
}
.content-blog .blogwp .card-body {
	padding-right: 0px;
	padding-left: 0px;
	font-size: 14px;
	margin-bottom: 7px;
}
.content-blog .blogwp .card-body p {
	color: var(--text-secondary-color)
}
a.button_custome_35.link {
	color: var(--primary-color);
}
.blogwp .media .media-body {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 5px;
}
.blogwp .button_custome_35.link {
	display: block;
	margin-top: 10px;
}
@media (min-width: 768px) {
	.sidebar .blogwp.media .image-blog {
		width: 75px;
 }
}
.pagination {
	justify-content: center;
	float: none !important;
}
.article-content {
	min-height: 150px;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	word-break: break-word;
}
.article-content img {
	max-width: 100% !important;
	height: auto !important;
}
figure.article-comment-user-image {
	width: 50px;
}
.article-comment + .media {
	border-top: 1px solid #eee;
}
.toc-title {
	cursor: pointer;
    font-size: 18px;
	display :none;
}
.toc-title.active{
		display :flex;
		gap: 10px;
	align-items: center
}
.toc-title svg{
 	transition: transform .3s ease-out;
}
.toc-title.open svg{
	transform: rotate(90deg);
}
li.toc-list-item + li.toc-list-item{
	margin-top: 8px
}

.blog-tag-list .link {
    padding: 5px 8px;
    color: #666;
}
.blog-tag-list .link:hover {
    color: var(--link-color);
}
.toc-link::before{
	content: none!important 
}
a.toc-link{
	color: var(--link-color)!important;
	font-weight: normal!important
}
ol.toc-list  {
  counter-reset: section;                
  list-style-type: none;
}

.fixed-toc{
    position: fixed;
    left: 0;
    top: 50%!important;
    transform: translateY(-50%);
	z-index: 1000;
}

.fixed-toc button.btn.toc-toggle-btn {
	color: var(--primary-color);
    border: 1px solid;
    padding: 5px;
    width: 32px;
    height: 32px;
    line-height: 1;
    margin-left: 10px;
	background: white;
	opacity: 0.6
}
.fixed-toc button.btn.toc-toggle-btn:hover{
	opacity: 1

}
.fixed-toc .fixed-toc-content{
	width: 300px;
    background: #ffff;
    position: absolute;
    top: 0!important;
    z-index: 9999;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    max-height: 75vh;
    overflow-y: auto;
    transform: translateY(-50%) translateX(-100%);
	transition: transform .3s ease-out;
}
.fixed-toc.open .fixed-toc-content {
	    transform: translateY(-50%);
}
#passHaiText  {
            display: none;
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }

#passHaiButton {
            background-color: #1E90FF;
            color: white;
            padding: 10px 20px;
            text-align: center;
            font-size: 18px;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        #passHaiButton:hover {
            background-color: #1C86EE;
            transform: scale(1.05);
        }

        #passHaiButton:active {
            background-color: #187bcd;
            transform: scale(1);
        }

        
#Haicountdown {
            margin-top: 20px;
            font-size: 14px;
            font-weight: bold;
        }