/** Product infor **/
.product-detail-left {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.details-product .details-pro {
	--block-spacing: 10px;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.title-product, .title-product a {
	font-weight: 700;
	font-size: 20px;
	color: var(--text-color)
}
@media (max-width: 767px) {
	.title-product {
		font-size: 1.2rem;
	}
}
.details-pro .group-status .line {
	color: #999;
}
.details-pro .group-status {
	font-size: 14px;
}
@media (max-width: 575px) {
	.details-pro .group-status .line {
		display: none;
	}
}
.status_name, .status_name a {
	color: #007bff;
}
.details-product .details-pro .price-box {
	position: relative;
	margin: 15px 0 10px;
	background: #f1f1f1;
	border-radius: 4px;
	display: block;
}
.details-product .details-pro .product-badge {
	display: block;
}
.details-product .details-pro .product-price {
	font-size: 32px;
	color: var(--price-color);
	line-height: 24px;
	font-family: inherit;
	font-weight: 700;
}
@media (max-width: 767px){
	.details-product .details-pro .product-price {
		font-size: 24px;
	}
}
.details-product .details-pro .product-price-old {
	font-size: 16px;
}

.button_actions .btn_base {
	width: 100%;
}
.button_actions {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: wrap;
}
.button_actions .btn {
	transition: all 0.3s ease;
	font-weight: 700;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 55px;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 10px;
	line-height: 42px;
}
.button_actions .btn.btn-fundiin{
	background: linear-gradient(to right, #06DECD, #744DEF);
}
.button_actions .btn span {
	/*font-weight: 400;*/
	font-size: small;
	text-transform: uppercase;
}
.button_actions .btn.btn-checkout span{
	text-transform: initial;
}
.btn-checkout, .quick-view-product .button_actions .btn-cart, .btn-contact {
	grid-column: 1 / -1;
	background-color: var(--buynow-bg);
	color: var(--buynow-text-color);
}
.btn-checkout, .btn-checkout{
	line-height: 20px !important;
}
.btn-checkout:hover {
	color: var(--buynow-text-color);
	opacity: .8;
}
.btn-contact:hover {
	color: var(--buynow-text-color);
	opacity: .8;
}
.button_actions .btn-cart{
	background-color: var(--addcart-bg)!important;
	color: #fff!important;
	border: 1px solid var(--addcart-bg)!important;
	margin-top: 10px!important;
	width: 100% !important;
	margin-left: 0 !important;
}
.btn-installment {
	background-color: #f3a20e;
	color: #fff;
	border: 1px solid #f3a20e;
	margin-top: 10px;
	width: calc(33.3% - 5px);
}
.button_actions .btn-cart:hover{
	background-color: var(--addcart-bg);
	color: #fff;
	opacity: .8;
}
.btn-installment:hover {
	background-color: #f3a20e;
	color: #fff;
	opacity: .8;
}
.button_actions .btn-cart {
	margin-right: 5px;
}
.btn-installment {
	margin-left: 5px;
	line-height: initial !important;
}
.btn-installment span{
	text-transform: initial !important;
}
.button_actions .btn:only-child, .button_actions .btn.is-full {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-transform: uppercase;
}
.button_actions .btn-cart strong {
	font-size: 16px;
}
.button_actions .btn-cart:hover, .btn-installment:hover {
	filter: brightness(1.2);
}
.button_actions .action-new{
	display: flex;
	align-items: center;
	width: 100%;
}
.button_actions .action-new .btn{
	width: 67.2%;
}
.button_actions .action-new .btn.add_to_cart{
	border: 1px solid var(--buynow-bg);
	margin-left: 5px;
	color: var(--buynow-bg);
	display: flex;
	align-items: center;
	flex-flow: nowrap;
	justify-content: center;
	width: 32.8%;
}
@media (max-width: 575px){
	.button_actions .action-new{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 999;
		padding: 0;
		direction: rtl;
	}
	.button_actions .action-new .btn{
		width: 50%;
		border-radius: 0;
		min-width: 50%;
		margin-left: 0 !important;
		direction: ltr;
	}
	.button_actions .action-new .btn.add_to_cart{
		margin-right: 0;
	}
	.button_actions .action-new .btn.btn-checkout span{
		line-height: 17px;
	}
	.button_actions .action-new .btn.btn-checkout span:first-child{
		font-size: 11px !important;
	}
	.button_actions .action-new .btn.btn-checkout span:last-child{
		font-size: 7px !important;
	}
}
.button_actions .action-new .btn.add_to_cart svg{
	width: 24px;
	height: 24px;
	min-height: 24px;
	margin-right: 5px;
}
.button_actions .action-new .btn.add_to_cart svg path,
.button_actions .action-new .btn.add_to_cart svg circle{
	fill: var(--buynow-bg);
}
.button_actions .action-new .btn.add_to_cart:hover{
	opacity: .8;
}
.button_actions .action-new .btn.btn-checkout{

}
@media (max-width: 575px) {
	.button_actions .btn {
		min-width: 100%;
		margin-left: 0;
		margin-right: 0;
		width: 100%;	
		font-size: 11px;
	}
	.button_actions .btn span{	
		font-size: 10px !important;
	}
	.button_actions .btn.btn_duyet_dt,
	.button_actions .btn.btn-installment{
		width: 49% !important;
		min-width: 49%;
	}
	.button_actions .btn.btn_duyet_dt{
		margin-right: 2%;
	}
}
.soluong.show {
	display: grid;
}
.soluong {
	align-items: center;
	grid-template-columns: 115px 1fr;
	margin-bottom: 20px;
}
.soluong label {
	margin: 0;
	font-weight: bold;
}
#ega-sticky-addcart .soluong {
	margin-bottom: 0;
}
.soluong label {
	color: #727272;
	justify-content: flex-start;
}
.input_number_product, .custom-btn-number {
	border: none;
	display: flex;
	height: 36px;
	margin-bottom: 0;
	margin-top: 0;
	align-items: center;
}
button.btn.btn_num {
	border-radius: 0;
	padding: 4px;
	width: 30px;
	border: 1px solid #ced4da;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8c9196;
}
button.btn.btn_num.num_1 {
	border-right: none;
	border-radius: 4px 0 0 4px;
}
button.btn.btn_num.num_2 {
	border-radius: 0 4px 4px 0;
	border-left: none;
}
.prd_quantity {
	border: 0;
	width: 55px !important;
	text-align: center;
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;
	height: 30px;
}
.details-product .details-pro .price-box, #ega-sticky-addcart .price-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: transparent;
	padding-left: 0;
	padding-right: 0;
	margin-top: calc(var(--block-spacing) * 2);
	column-gap: 4px;
}
#ega-sticky-addcart .price-box {
	border-top: none;
}
.details-product .price-box .label_product, #ega-sticky-addcart .label_product {
	border-radius: 4px;
	background: var(--label-background);
	color: var(--label-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding: 3px 8px;
	font-weight: bold;
	margin-left: 10px;
}
.product-price-old {
	color: #979797 !important;
	margin-left: 5px;
	font-size: 14px;
	font-weight: normal;
}
.save-price {
	font-size: 14px;
	width: 100%;
}
.save-price span {
	color: var(--price-color);
}
.details-product .quickview-info .price-box {
	margin-top: var(--block-spacing);
	padding-top: var(--block-spacing);
	padding-top: var(--block-spacing);
}
.quick-view-product .product-summary {
	padding: var(--block-spacing) 0;
}

.icon-button-play {
	width: 20px !important;
}
.product-promotion {
	background-color: var(--body-background);
	padding: 10px;
	margin-bottom: 10px;
}
.product-promotion__heading {
	color: #fff;
	margin-bottom: 8px;
	background-color: var(--primary-color);
	font-size: 14px;
	font-weight: 700;
	padding: 5px 10px;
}
.product-promotion > ul, .product-promotion > div {
	margin-bottom: 0;
	border-radius: 4px;
	padding: 8px 8px 8px 15px;
	list-style-position: inside;
	background: #fff
}
.product-promotion ul li, .product-promotion > div > * {
	padding: 3px 0;
	margin: 0;
}
.product-specifications table {
	border-collapse: unset;
	border-spacing: 0;
}
.product-specifications table, #specification-modal table {
	max-width: 100%;
}
#specification-modal table ul{
	padding-left: 0;
}
.product-specifications table td {
	padding: 8px;
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
.product-specifications table tr:nth-of-type(odd) {
	background-color: var(--body-background);
}
.product-specifications table tr:first-child td {
	border-top: 1px solid var(--border-color);
}
.product-specifications table tr td:first-child {
	border-left: 1px solid var(--border-color);
	width: 40%;
}
.product-specifications table tr:first-child td:first-child {
	border-top-left-radius: 8px;
}
.product-specifications table tr:first-child td:last-child {
	border-top-right-radius: 8px;
}
.product-specifications table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}
.product-specifications table tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}
.product-hotline a {
	font-weight: bold;
	color: var(--primary-color);
}
.details-product .product-promo-tag {
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn-fundiin {
	background-color: #5bc0f7;
	color: #fff;
	border: 1px solid #5bc0f7;
	margin-top: 10px;
	width: calc(33.3% - 5px);
}
.btn-fundiin {
	margin-left: 5px;
	line-height: initial !important;
}
.btn-fundiin:hover {
	background-color: #5bc0f7;
	color: #fff;
	opacity: .8;
}

.specTable td a {
	font-weight: bold;
	/*color: #0a804a;
	color: #007bff;
	color: #27ae60;
	*/
	color: #007bff;
}